<% if flash[:notice] %>
<div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<%= link_to "Cadastrar Novo Produto", new_produto_path%>
<br>
<br>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>           
        </tr>
    </thead>
    <tbody>
        <%= render @produtos_por_nome %>
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>          
        </tr>
    </thead>
    <tbody>
        <%= render @produtos_por_preco %>
    </tbody>
</table>

<br>Total de produtos: <%= Produto.all.size %>